<%= form_with url: "/posts/#{@post.id}/comments", scope: :comment do |form| %>
<div>
	<%= form.text_area :text, placeholder: "Add your comment...", rows: 8, cols: 40, required: true %>
	<%= form.submit "Comment" %>
  </div>
<% end %>