/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.user-cont {
  display: flex;
  justify-content: space-between;
  margin: 5%;
}

.user-img img {
  width: 150px;
  height: 150px;
}

.border {
  border: 1px solid black;
}

.user-det {
  display: flex;
  width: 80%;
  padding: 3%;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.user-det2 {
  width: 85%;
  margin: auto;
  padding: 2%;
}

.post-cont {
  display: flex;
  flex-direction: column;
  padding: 1%;
  width: 87%;
  margin: 2% auto;
}

.bottom-right {
  align-self: flex-end;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-right: 10%;
}

.button-cont {
  display: flex;
  justify-content: center;
}

.comments {
  width: 89%;
  margin: auto;
}

.comments p {
  margin: 2%;
}

.user-det3 {
  width: 87%;
  margin: 1% auto;
  padding: 1%;
}

.user-post {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

.new-post {
  text-align: center;
}

.new-text {
  margin: 2%;
}

.comment-text {
  margin: 1% 5%;
}
